<header>
  <h1>ツイッタークローン</h1>
  <p class="bird"><img src="/assets/blue_bird.jpg" alt="blue_bird" width = "300px" height="200px"></p>
  <p id="notice"><%= notice %></p>
</header>


<table>
  <thead>
    <tr>
      <th>ツイート</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.content %></td>
        <td><%= link_to '詳細を確認する', task %></td>
        <td><%= link_to '編集する', edit_task_path(task) %></td>
        <td><%= link_to '削除する', task, method: :delete, data: { confirm: 'ツイートを削除しますか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<footer>
  <%= link_to '新しくツイートする', new_task_path %>
</footer>
